pkgbase = gamelog
	pkgdesc = A terminal UI for logging and tracking video games
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/colorlesspilgrimage/gamelog
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = gamelog-0.1.0.tar.gz::https://github.com/colorlesspilgrimage/gamelog/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = gamelog
